<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head") %>
<body>
    <%-include("./partials/header") %> 
    <%-include("./partials/topNav") %> 


 <div class="container-slider"> 
        
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="/images/products/img1.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/products/img2.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/products/img3.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/products/img4.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="images/products/img5.jpg" alt="" class="slider__img">
            </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    </div>
    
    <h2 class="main-title"> Seleccion de Destacados</h2>
    <main class="special-products">
        <% special.forEach(({image,name,description,id,price}) => { %>
            <section class="container-products">
                <div class="product">
                    <a href="/products/detail/<%- id  %>"><img src="/images/products/<%=image ? image : 'default-image.png' %>"></a>
                    <div class="show-more"><a href="/products/detail/<%- id  %>">Ver Más</a></div>
                    <div class="product__description">
                        <h3 class="product__title"><%= name %></h3>
                        <span class="product__price"><%= price %></span>
                    </div>
                        <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
                </div>
            </section>
                <% }) %>
    </main>
    <h2 class="main-title"> Ofertas Imperdibles</h2>
    <main class="in-sale-products">
        <% inSale.forEach(({image,name,description,id,price}) => { %>
            <section class="container-products">
                <div class="product">
                    <a href="/products/detail/<%- id  %>"><img src="/images/products/<%=image ? image : 'default-image.png'%>" alt="" class="product__img"></a>
                    <div class="show-more"><a href="/products/detail/<%- id  %>">Ver Más</a></div>
                    <div class="product__description">
                        <h3 class="product__title"><%= name %></h3>
                        <span class="product__price"><%= price %></span>
                    </div>
                        <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
                </div>
            </section>
        <% }) %>
    </main>
    <h2 class="main-title"> Nuestros Productos</h2>
    <main class="normal-products">
        <% normalProduct.forEach(({image,name,description,id,price}) => { %>
            <section class="container-products">
                <div class="product">
                    <img src="/images/products/<%=image ? image : 'default-image.png'%>" alt="" class="product__img">
                    <div class="show-more"><a href="/products/detail/<%- id  %>">Ver Más</a></div>
                    <div class="product__description">
                        <h3 class="product__title"><%= name %></h3>
                        <span class="product__price"><%= price %></span>
                    </div>
                        <i class="product__icon fa-sharp fa-solid fa-cart-plus"></i>
                </div>
            </section>
        <% }) %>
    </main>

    <%-include("./partials/footer") %> 
    

    <%-include("./partials/scripts") %> 
</body>
</html>

