<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head") %> 
<link rel="stylesheet" href="/css/productsDetail.css">

<body> 
  <%-include("./partials/header") %> 
<section class="detail-container">
  <div class="Detailrow">
    <div class="Detailcolumn">
      <div class="DetailCard">
        <div><h2 class="Detail-title"><%= name %></h2></div>
        <img class="imgDetail" src="/images/products/<%= image ? image : "default-image.png"  %>">
        <div class="Detailcontainer">
         
          <div class="product--description">
            <p class="detail-description"><%= description %>
            </p>
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="information-row">
      <div class="information-column">
        <div class="Detail-information">
          <div class="price-discount">
            <div class="price">
            <p>$<%= price  %></p>
          </div>
          <div class="discount">
            <span>% 30 Descuento</span>
          </div>
          </div>
         <!--  <button class="cart-btn">
            <h4>Agregar al carrito</h4>
          </button>
           -->
          <div class="information-list">
            <h5>Métodos de envío y pagos disponibles :</h5>
            <ul>
              <li><i class="fa-solid fa-money-bill-wave"></i>Efectivo y <a href="#">Tarjetas*</a> </li>
              <li>Acordar con el vendedor</li>
              <li><i class="fa-solid fa-truck"></i>Envios a domicilio o a otros puntos de venta</li>
            </ul>
            <div class="information-btn">
            <button class="btn-calculate"><a class="link" href="#">Calcular Aquí</a></button>
            <button class="btn-calculate"><a class="link" href="#">Agregar al carrito</a></button>
                  </div>
                  <div class="finalize-purchase-btn">
                    <button class="goCart-btn"><a class="link" href="/productCart">Ir a Comprar</a></button>
                  </div>
                </div>
          </section>
    </div>
    </div>
    </div>
    
  </section>
    
    
  </body>
  <%-include("./partials/footer") %> 
  <%-include("./partials/scripts") %> 
</html>